{% extends 'base.html' %}
{% block content %}

    <div
      class="hero page-inner overlay"
      style="background-image: url('/static/images/hero_bg_3.jpg')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">
              {{propertyData.Properties_address}}
            </h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">
                  <a href="properties.html">Properties</a>
                </li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  {{propertyData.Properties_address}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-7">
  <div class="img-property-slide-wrap">
    <div class="img-property-slide">
      <!-- Display the images of the selected property -->
      <img src="/media/{{propertyData.Properties_image1}}" alt="Image" class="img-fluid" style=" height:700px;" />
      <img src="/media/{{propertyData.Properties_image2}}" alt="Image" class="img-fluid" style=" height:700px;" />
      <img src="/media/{{propertyData.Properties_image3}}" alt="Image" class="img-fluid" style=" height:700px;" />
    </div>
  </div>
</div>

          <div class="col-lg-4">
            <!-- Display the address and other details of the selected property -->
            <h2 class="heading text-primary">{{propertyData.Properties_address}}</h2>
            <p class="meta">{{propertyData.Properties_name}}</p>
            <p class="text-black-50">
              {{propertyData.Properties_desc|safe}}
            </p>
            

            <div class="d-block agent-box p-5">
              <div class="img mb-4">
                <img
                  src="/media/{{propertyData.agent.Agents_image}}"
                  alt="Image"
                  class="img-fluid"
                />
              </div>
              <div class="text">
                <h3 class="mb-0">{{propertyData.agent.Agents_name}}</h3>
                <div class="meta mb-3">Real Estate</div>
                <p>
                 {{propertyData.agent.Agents_desc1|safe}}
                </p>
                <ul class="list-unstyled social dark-hover d-flex">
                  <li class="me-1">
                    <a href="#"><span class="icon-instagram"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-twitter"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-facebook"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-linkedin"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 {% endblock %}